<div class="flex items-center justify-between max-sm:flex-col-reverse gap-y-10 px-4 mt-10 lg:px-44 sm:mt-20">
    <div>
        <h1 class="text-4xl xl:text-5xl 2xl:text-6xl font-bold text-neutral-700 leading-tight">
            Remove the <br/> 
            <span class="bg-gradient-to-r from-violet-600 to-fuchsia-500 bg-clip-text text-transparent">background</span> <br/>
            from images for free.
        </h1>
        <p class="my-6 text-[15px] text-gray-500">
            Remove the background from images for free and effortlessly! <br/> Achieve a clean, professional look for your photos with just a few clicks.
        </p>
    </div>
    <div class="w-full max-w-md">
       <img src="/main_banner.png">
    </div>
</div>